# Staging-free zone, you can but personal or temporary files in any directory named _
_/

.*
!.git*

\#*\#
*~
*.bak
*.sw[op]

bin/
obj/

__pycache__/
*.py[co]

*.class
*.jar

*.o
*.gch
*.out

*.info
*.pdf
*.ps
*.dvi
*.gz

*.install
/sweetiebot

